body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 80px;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
  }
  h2 {
    text-align: center;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex.flex-center {
    justify-content: center;
    align-items: center;
  }
  .flex-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  li {
    list-style: none;
  }

  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .flashMessage {
    text-align: center;
    width: fit-content !important;
    margin: 1rem auto;
    color: red;
    font-size: 1.8rem;
  }
  input[type="text"],
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
/* ------------------- */
/* header */
/* ------------------- */
header {
  justify-content: space-between !important;
  position: fixed; /* ヘッダーを固定する */
  top: 0;
  width: 100%;
  background-color: #c4e39f;
  z-index: 1000; 
}
.header-left img {
  max-width: 100%;
  height: 60px;
  width: 80%;
  margin-left: 0.5rem;
  vertical-align: bottom;
}
.header-right-top {
  justify-content: end;
  margin-right: 1rem;
  padding-bottom: 0.7rem;
}
.header-right-top li {
  margin-right: 1rem;
}
.header-right-top li a {
  font-size: 1.2vw;
}
.header-right-bottom li {
  margin-right: 1rem;
}
.header-right-bottom .btn {
  padding: 5px 20px;
  color: #333;
  border-radius: 5px;
  font-size: 1.2rem;
}
.header-right-bottom .btn.register-btn {
  background-color: #51e151;
}
.header-right-bottom .btn.login-btn {
  background-color: darkorange;
}
.header-right-bottom .btn.mypage-btn {
  background-color: deepskyblue;
  cursor: pointer;
}
.header-right-bottom .btn.search-btn {
  background-color: #6ee1b6;
}
.menu-box {
  display: none;
}

/* ------------------- */
/* modal モーダル */
/* ------------------- */
  /* モーダルCSS */
  .modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
/* ------------------- */
/* signup.php 登録画面 */
/* ------------------- */

select {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
/* ------------------- */
/* index.php 講師詳細画面 */
/* ------------------- */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.row {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;

}

.profile-right {
  width: 100%;
}

/* 画像のスタイル */
.profile-picture img {
  max-width: 200px;
  max-height: 200px;
}

/* スケジュールカレンダー */
.fc-event-title {
  text-align: center;
}

.fc-timegrid-event-harness-inset {
  pointer-events: none;
}

th.fc-day-sat {
  color: blue;
}

th.fc-day-sun {
  color: red;
}

td.fc-timegrid-slot:not(.fc-timegrid-slot-minor) {
  border-top: 2px solid var(--fc-border-color);
  ;
}
.text-center {
  text-align: center;
}
