.countdown {
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header {
    position: fixed; /* ヘッダーを固定する */
    top: 0;
    width: 100%;
    background-color: #c4e39f;
    z-index: 1000; 
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  li {
    list-style: none;
  }
  h2 {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
/* ------------------- */
/* header */
/* ------------------- */
header {
  justify-content: space-between !important;
}
.header-left img {
  max-width: 100%;
  height: 60px;
  width: 80%;
  margin-left: 0.5rem;
  vertical-align: bottom;
}
.header-right-top {
  justify-content: end;
  margin-right: 1rem;
  padding-bottom: 0.7rem;
}
.header-right-top li {
  margin-right: 1rem;
}
.header-right-top li a {
  font-size: 1.2vw;
}
.header-right-bottom li {
  margin-right: 1rem;
}
.header-right-bottom .btn {
  padding: 5px 20px;
  color: #333;
  border-radius: 5px;
  font-size: 1.2rem;
}
.header-right-bottom .btn.register-btn {
  background-color: #51e151;
}
.header-right-bottom .btn.login-btn {
  background-color: darkorange;
}
.header-right-bottom .btn.mypage-btn {
  background-color: deepskyblue;
  cursor: pointer;
}
.header-right-bottom .btn.search-btn {
  background-color: #6ee1b6;
}
.menu-box {
  display: none;
}
/* ------------------- */
/* modal モーダル */
/* ------------------- */
  /* モーダルCSS */
  .modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
/* ------------------- */
/* 講師検索 メイン画面 index.php */
/* ------------------- */
.search-container {
  margin-right: 20px;
  border: 1px solid #ccc;
  width: 20%;
  align-items: normal;
}

.search-container h2 {
  margin-bottom: 10px;
}
.search-container form {
  width: 80%;
}

.search-container input,
.search-container select {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.teacher-list {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 1030px;
  flex-wrap: wrap;
  width: 100%;
}

.teacher-list h2 {
  margin-bottom: 10px;
}

/* 講師リストのブロックごとのスタイル */
.teacher-list div {
  margin-bottom: 10px;
  flex-wrap: wrap;
  margin: 3px;
  /* ブロックの下部に余白を追加 */
}

.teacher-block {
  border: solid 1px #afabab;
  border-radius: 10px;
}

/* 画像のスタイル */
.teacher-block img {
  max-width: 180px;
  width: 180px;
  max-height: 180px;
}

.teacher-block div {
  height: 20px;
}
/* ------------------- */
/* signup.php 登録画面 */
/* ------------------- */
 select {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}

/* ------------------- */
/* rating.php 評価画面 */
/* ------------------- */
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.star {
  color: #ccc;
  cursor: pointer;
  font-size: 5rem;
  /* 星の大きさを大きく */
}

.star.checked {
  color: #ffc107;
}

.star:hover {
  color: #ff9800;
}

.rating-description {
  margin-top: 10px;
}

.rating-container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

